@import '../../../../styles/configs';
@import '../../../../styles/mixins';

.stand {
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
  @include respond($breakpoint-down-md){
    scroll-snap-align: none;
    height: auto;
    border-top: 1px solid var(--borderLight);
  }

  &_header {
    @include respond($breakpoint-down-md){
      display: none;
    }
  }


  &_text {
    max-width: 900px;
    line-height: 24px;
  }
  &_linksWrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    &_link {
      width: calc(100% / 3 - 40px);
      position: relative;
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
      color: #6B6B6B;
      padding: 25px 36px;
      text-align: center;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
      height: 160px;
      transition: $anim-time;
      &:hover {
        background-color: var(--red);
        color: var(--white);
      }
      img {
        width: 130px;
        margin:0 auto;
        margin-bottom: 30px;
      }


      @include respond($breakpoint-down-md){
        width: calc(100% / 2 - 40px);
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include respond($breakpoint-down-xs){
        width: 100%;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      text-transform: uppercase;
      color: var(--white);
      font-weight: $font-weight-bold;
    }


  }
  &_mentorWrapper{
    display: flex;
  }

  &_projectsWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &_imageTop {
    flex-shrink: 0;
    width: 55px;
    img {
      width: 100%;
    }
  }

  &_contentWrapper{
   position: relative;
    width: 100%;

  }

  &_image {
    width: 50%;
    padding-right: 80px;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }

  &_vertical {
    writing-mode: tb-rl;
    @include respond($breakpoint-down-md){
      display: none;
    }
  }

  &_middle {
    max-width: 1200px;
    flex-grow: 1;
    padding: 0 33px;
    display: flex;
    margin: auto 0;
    @include respond($breakpoint-down-sm){
      padding: 0;
    }
  }

  &_social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include respond($breakpoint-down-sm){
      display: none;
    }
    &_icon {
      margin-bottom: 25px;
      transition: $anim-time;
      svg {
        path {
          fill: var(--black)!important;
        }
      }
      &:hover {
        opacity: 0.7;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_rightBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    @include respond($breakpoint-down-md){
      justify-content: center;
    }
    @include respond($breakpoint-down-sm){
      display: none;
    }
  }

  &_content {
    display: flex;
    flex-grow: 1;
    padding: 90px 33px 40px;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    @include respond($breakpoint-down-md){
      padding: 40px 20px;
      height: auto;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
}

