@import '../../../../styles/configs';
@import '../../../../styles/mixins';

.activities {
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
  @media (max-width: 1400px) {
    scroll-snap-align: none;
    height: auto;
    border-top: 1px solid var(--borderLight);
    &_header {
      display: none;
    }
  }

  &_follow {
    position: relative;

    &_res {
      @media (max-width: 600px) {
       display: none;
      }
    }
    &_link {
      color: var(--red);
      display: block;
      margin-top: 10px;
    }
    &_menuWrapper {
      position: absolute;
      display: none;
      z-index: 10;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 279px;
      padding-top: 20px;
      @media (max-width: 1270px) {
        left: auto;
        right: 0;
        transform: translateX(0);
      }
    }
    &_menu {
      background-color: var(--white);
      font-size: 12px;
      padding: 22px 12px;
      text-align: center;
      color: #2F2F2F;
      filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.16));
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        z-index: 20;
        width: 0;
        height: 0;
        border-style: solid;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 12px 12px 12px;
        border-color: transparent transparent #fcfcfc transparent;
        @media (max-width: 1270px) {
          left: auto;
          right: 0;
          transform: translateX(0);
        }
      }
    }
    &:hover {
      .activities_follow_menuWrapper {
        display: block;
      }
    }
  }

  &_header {
    @include respond($breakpoint-down-md){
      display: none;
    }
  }

  &_linksWrapper{
    display: flex;
    justify-content: space-between;
    @include respond($breakpoint-down-sm){
      display: block;
    }

    &_link {
      width: calc(100% / 3 - 20px);
      position: relative;
      display: block;
      @include respond($breakpoint-down-sm){
        width: 100%;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      img{
        width: 100%;
      }
      &:hover {
        .activities_linksWrapper_text {
          text-decoration: underline;
        }
      }
    }
    &_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      color: var(--white);
      font-weight: $font-weight-bold;
      @include respond($breakpoint-down-md){
        font-size: 12px;
      }
      @include respond($breakpoint-down-sm){
        font-size: 20px;
      }
    }


  }
  &_mentorWrapper{
    display: flex;
    @include respond($breakpoint-down-md){
      display: block;
    }

  }

  &_projectsWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &_imageTop {
    flex-shrink: 0;
    width: 55px;
    img {
      width: 100%;
    }
  }

  &_contentWrapper{
   position: relative;
  }

  &_image {
    width: 50%;
    padding-right: 80px;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }

  &_vertical {
    writing-mode: tb-rl;
    @include respond($breakpoint-down-md){
      display: none;
    }
  }
  &_middle {
    max-width: 1000px;
    flex-grow: 1;
    padding: 0 33px;
    display: flex;
    margin: auto;
    @include respond($breakpoint-down-sm){
      padding: 0;
    }
  }

  &_social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 1400px) {
      display: none;
    }
    &_icon {
      margin-bottom: 25px;
      transition: $anim-time;
      svg {
        path {
          fill: var(--black)!important;
        }
      }
      &:hover {
        opacity: 0.7;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_rightBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1400px) {
      display: none;
    }
  }

  &_content {
    display: flex;
    flex-grow: 1;
    padding: 90px 33px 40px;
    justify-content: space-between;
    @include respond($breakpoint-down-md){
      padding: 80px 20px 40px;
      height: auto;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
}

