@import '../../../styles/configs';
@import '../../../styles/mixins';

.video {
  width: 100%;
  position: relative;
  background-color: var(--black);
  padding-top: 60%;

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    z-index: 100;
    cursor: pointer;
    transition: $anim-time;
    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  video {
    height: 100%;
    width: 100%;
  }
}
