@import '../../../../styles/configs';
@import '../../../../styles/mixins';

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_number {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    font-size: 20px;
    left: -40px;
    font-weight: $font-weight-medium;
    @include respond($breakpoint-down-lg){
      display: none;
    }
    &_black {
      color: var(--black);
    }
  }

  &_button {
    width: 23px;
    height: 23px;
    background: rgba(208,209,230, 0.2);
    border-radius: 50%;
    color: var(--white);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    &_black {
      color: var(--black);
    }
    &:hover {
      background: rgba(208,209,230, 1);
    }

  }
  &_list {
   position: relative;
  }
  &_dot {
    width: 8px;
    height: 8px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin: 10px 0;
    transition: $anim-time;
    &_black {
      border: 1px solid var(--grey);
      &.navigation_dot_active {
        background-color: var(--black);
        border: 1px solid var(--black);

      }
      &:hover {
        background: var(--black)!important;
      }
    }
    &:hover {
      background: var(--white);
    }
    &_active {
      background-color:var(--white)
    }
  }
}
