@import '../../../../styles/configs';
@import '../../../../styles/mixins';

.like {
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
  @include respond($breakpoint-down-md){
    scroll-snap-align: none;
    height: auto;
  }

  &_header {
    @include respond($breakpoint-down-md){
      display: none;
    }
  }

  :global {
    .ScrollbarsCustom-Track {
      background-color: #F0F0F0!important;
      width: 4px!important;
      border-radius: 0!important;
    }
    .ScrollbarsCustom-Thumb {
      border-radius: 0 !important;
      background-color: var(--red)!important;
    }
  }

  &_links {
    overflow: auto;
    flex-grow: 1;
    @include respond($breakpoint-down-md){
      min-height: 600px;
    }
    &_link {
      padding: 28px 0;
      border-bottom: 1px solid #ebebeb;
      display: flex;
    }
    &_text {
      transition: $anim-time;
      font-weight: $font-weight-bold;
      font-size: 20px;
      cursor: pointer;
      color: var(--black);
      text-align: left;
      @include respond($breakpoint-down-sm){
        font-size: 18px;
      }
      &:first-letter {
        text-transform: uppercase
      }
      &:hover {
        color: var(--red);
        text-decoration: underline;
      }
    }
  }

  &_vertical {
    writing-mode: tb-rl;
    @include respond($breakpoint-down-md){
      display: none;
    }
  }

  &_middle {
    max-width: 1200px;
    flex-grow: 1;
    padding: 0 50px 0 33px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include respond($breakpoint-down-sm){
      padding: 0;
    }
  }

  &_social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include respond($breakpoint-down-sm){
      display: none;
    }
    &_icon {
      margin-bottom: 25px;
      transition: $anim-time;
      svg {
        path {
          fill: var(--black)!important;
        }
      }
      &:hover {
        opacity: 0.7;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_rightBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    @include respond($breakpoint-down-md){
      justify-content: center;
    }
    @include respond($breakpoint-down-sm){
      display: none;
    }
  }

  &_content {
    display: flex;
    flex-grow: 1;
    padding: 40px 33px;
    justify-content: space-between;
    @include respond($breakpoint-down-md){
      padding: 40px 20px;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
}

