@import '../../../../styles/configs';
@import '../../../../styles/mixins';

.headerSection {
  height: 100vh;
  background: radial-gradient(ellipse at center, rgba(219, 0, 0, 0.70) 0%, var(--red) 100%);
  scroll-snap-align: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  width: 100vw;
  z-index: 10;
  @media (max-width: 1400px) {
    scroll-snap-align: none;
    &_header {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    //height: 100%;
  }


  &_middle {
    max-width: 1000px;
    flex-grow: 1;
    padding: 50px 33px 0;
    margin: auto;
    display: flex;
    padding-bottom: 48px;

    @media (max-width: 1400px) {
      justify-content: center;
      //padding: 180px 0 150px;
    }
    @include respond($breakpoint-down-sm){
      align-items: center;
      padding: 80px 33px 0;
    }
  }

  &_underline {
    border-bottom: 1px solid var(--white);
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    //@include respond($breakpoint-down-sm){
    //  position: static;
    //  color: var(--white);
    //  text-transform: uppercase;
    //}
  }

  &_social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include respond($breakpoint-down-md){
      display: none;
    }
    &_icon {
      margin-bottom: 25px;
      transition: $anim-time;
      @include respond($breakpoint-down-md){
        margin: 0 20px 40px!important;
      }
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_socialBottom {
    display: flex;
    align-items: center;
  }

  &_titleWrapper{
   position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_rightBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    @include respond($breakpoint-down-md){
      display: none;
    }
  }

  &_bottomBlock {
    display: none;
    @include respond($breakpoint-down-md){
      display: flex;
      justify-content: center;
      //width: 100%;
    }
  }

  &_content {
    display: flex;
    flex-grow: 1;
    //align-items: center;
    padding: 0 33px 40px;
    justify-content: space-between;
    @include respond($breakpoint-down-md){
      padding: 0 20px 20px;
      flex-direction: column;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  &_title {
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 60px;
    @include respond($breakpoint-down-md){
      margin-bottom: 30px;
    }
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
  }

  @keyframes changeWidth {
    from {
      width: 0;
    }
    30% {
      width: 0;
    }
    100% {
      width:70px;
    }
  }

  &_buttonAnim {
    position: relative;
    overflow: hidden;
    width: 264px;
    height: 64px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    font-size: 32px;
    font-weight: $font-weight-bold;
    transition: $anim-time;
    text-transform: uppercase;
    &_text {
      transition: $anim-time;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      .headerSection_buttonAnim_text {
        transform: translateY(-100%);
      }
      background-color: var(--white) !important;
      color: var(--black);
    }
    @include respond($breakpoint-down-md){
      width: 200px;
      height: 45px;
      font-size: 25px!important;
    }
    @include respond($breakpoint-down-sm){
      width: 150px;
      height: 35px;
      font-size: 20px!important;
    }
  }

  &_button {
    width: 264px;
    height: 64px;
    background: var(--white);
    border: 1px solid var(--white);
    font-size: 32px;
    position: relative;
    font-weight: $font-weight-bold;
    transition: $anim-time;
    text-transform: uppercase;
    color: var(--black);


    @include respond($breakpoint-down-md){
      width: 200px;
      height: 45px;
      font-size: 25px!important;
    }
    @include respond($breakpoint-down-sm){
      width: 150px;
      height: 35px;
      font-size: 20px!important;
    }
    &:hover {
      background-color: transparent;
      color: var(--white);
    }

  }
}

