@import '../../../../styles/configs';

.headerSection {
  height: 100vh;
  background: var(--red);
  scroll-snap-align: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width:70vw;
    padding-top: 50%;
    left: 47px;
    top: 50%;
    transform: translateY(-50%);
    background: #FFFFFF;
    opacity: 0.2;
    filter: blur(200px);
  }

  &_underline {
    border-bottom: 1px solid var(--white);
  }

  &_social {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &_icon {
      margin-bottom: 25px;
      transition: $anim-time;
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_titleWrapper{
   position: relative;
  }

  &_rightBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &_content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 33px 40px;
    justify-content: space-between;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  &_title {
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 60px;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
  }

  @keyframes changeWidth {
    from {
      width: 0;
    }
    30% {
      width: 0;
    }
    100% {
      width:70px;
    }
  }

  &_button {
    width: 264px;
    height: 64px;
    background: var(--white);
    border: 1px solid var(--white);
    font-size: 32px;
    position: relative;
    font-weight: $font-weight-bold;
    transition: $anim-time;
    &_transparent {
      background-color: transparent;
      color: var(--white);
      &:before {
        content: attr(title);
        position: absolute;
        color: var(--black);
        top: 50%;
        font-family: Cabin;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        text-transform: uppercase;
        width: 0;
      }
      &:hover {
        background-color: var(--white) !important;
        &:before {
          width: 70px;
          animation: changeWidth 0.5s;
        }


      }
    }
    &:hover {
      background-color: transparent;
      color: var(--white);
    }

  }
}

