@import '../../../styles/configs';
@import '../../../styles/mixins';

.wrapper {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  @media (max-width: 1400px) {
    scroll-snap-type: none;
  }

  &_hide{
    display: none;
    @include respond($breakpoint-down-md){
      display: block;
    }
  }

  &_iframe {
    position: relative;
    z-index: 1000000;
  }

}
