@import '../../../styles/configs';
@import '../../../styles/mixins';

.wrapper {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  @include respond($breakpoint-down-md){
    scroll-snap-type: none;
  }

  &_hide{
    display: none;
    @media (max-width: 790px) {
      display: block;
    }
  }

}
