@import '../../../../styles/configs';
@import '../../../../styles/mixins';

.wrapper {
 position: absolute;
  bottom: 0;
  left: -100px;
  z-index: 1000;

  @media (max-width: 920px) {
    right: 20px;
    bottom: 0;
    left: auto;
  }

  @media (max-width: 760px) {
    position: fixed;
    right: 20px;
    bottom: 20px;
    left: auto;
  }

  @keyframes showFrame {
    from{
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &_underline {
    border-bottom: 1px solid var(--white);
    cursor: pointer;
    position: absolute;
    right: -120px;
    bottom: 0;
    white-space: nowrap;
  }

  &_iframe {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    animation: showFrame 2s;
    iframe {
      height: 100vh;
      width: 100%;
    }
  }

  &_button {
    background-color: var(--red);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
    transition: $anim-time;

    @media (max-width: 1350px) {
      opacity: 0.7;
    }

    &:hover {
      opacity: 1;
    }

    &_white {
      background: var(--white);
    }

    &_loading {
      animation: rotating 1s linear infinite;
    }

    &_black {
      background-color: var(--white);
      color: var(--black);
    }

    &_close {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 30px;
      top: 30px;
      z-index: 100;
      font-size: 20px;
      transition: $anim-time;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
