.formBlock {
  display: flex;
  width: 100%;

  &_width {
    &_auto {
      width: auto;
    }
  }

  &_mb {
    &_s0 {
      margin-bottom: 4px;
    }

    &_s1 {
      margin-bottom: 8px;
    }

    &_s2 {
      margin-bottom: 16px;
    }

    &_s3 {
      margin-bottom: 24px;
    }

    &_s4 {
      margin-bottom: 32px;
    }

    &_s5 {
      margin-bottom: 40px;
    }

    &_s6 {
      margin-bottom: 48px;
    }

    &_s7 {
      margin-bottom: 56px;
    }

    &_s8 {
      margin-bottom: 64px;
    }

    &_s9 {
      margin-bottom: 72px;
    }

    &_s10 {
      margin-bottom: 80px;
    }
  }

  &_justify {
    &_center {
      justify-content: center;
    }
    &_between {
      justify-content: space-between;
    }
    &_right {
      justify-content: flex-end;
    }
  }

  &_align {
    &_center {
      align-items: center;
    }
    &_top {
      align-items: flex-start;
    }
    &_bottom {
      align-items: flex-end;
    }
  }
  &_direction {
    &_column {
      flex-direction: column;
    }
  }
}
